<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        
        <title>Turbofan Engine Analysis: Predictive Maintenance</title>
    </head>
    <body>
        <br>
        <h1>Turbofan Engine Analysis: Predictive Maintenance</h1>
        <form method="POST" enctype=multipart/form-data action='/'>
            {{ form.hidden_tag() }}
            <fieldset>
                <div class="form-row small mt-2">
                    <div class="col-md-6">
                        <h4 class='mb-1'>Engine Data Upload</h4>
                        <form action="" method=post enctype=multipart/form-data>
                            <p><input type=file name=file>
                            <div class='row mt-5'>
                                <div class='col-5'>
                                    <input class="text-dark btn btn-light" type=submit value=submit id="opsubmit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <ul class="flashes">
                     {% for message in messages %}
                      <div class="message_flash">{{ message }}</div>
                     {% endfor %}
                 </ul>
               {% endif %}
              {% endwith %}
            </fieldset>
        </form>
        <p>
            <a href="{{ url_for('plot') }}"><input class="text-dark btn btn-light" type=submit value="View Plot" id="opsubmit"></a>
        </p>

    </body>
</html>